<%- include('../partials/header') %>

<form id="new-event" action="/events" method="POST">
    <label>Venue:</label>
    <input type="text" name="venue">
    <label>City:</label>
    <input type="text" name="city">
    <label>Event Date & Time:</label>
    <input type="datetime-local" name="date">
    <input type="submit" value="Add Event">
</form>

<form id="create-artist" >

</form>

<%- include('../partials/footer') %>