<%- include('../partials/header') %>

<p>Welcome to the Main Event page</p>

<div class="form-outline">
    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
    <label class="form-label" for="textAreaExample"></label>
    <button>Add Message</button>
</div>


<%- include('../partials/header') %>