<%- include('./partials/header') %>
    
    <h1 id="main1"><%= title %></h1>
    <h3 id="main2">Welcome to <%= title %>.</h3>
    <h3 id="main3">The best social music platform you'll ever experience!</h3>

<%- include('./partials/footer') %>