<%- include('./partials/header') %>
    
    <h1><%= title %></h1>
    <h3>Welcome to <strong><%= title %></strong>, the best social music you'll ever experience!</h3>

<%- include('./partials/footer') %>